# Dependencies
node_modules/

# Environment & secrets
.env
*.env.*
!.env.example

# Git
.git
.gitignore

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
Dockerfile
docker-compose*.yml
.dockerignore
